/*CSS RESET */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	
}	

}

h1 {
	color: red;
	text-align: center;
	
}

div.wrapper{
	width: 100%
}


.sidebar {
    height: 40px;
    width: 12%;
    background-color: #8136c5;
    float: left;
	



}